// Bootstrap
@import "~bootstrap/scss/functions";
@import "bootstrap.variables";
@import "~bootstrap/scss/bootstrap";

// Other Vendor
@import "~select2/dist/css/select2";
@import "~@fengyuanchen/datepicker/dist/datepicker.min.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~simplemde/dist/simplemde.min.css";
@import "~emojionearea/dist/emojionearea.min.css";


$sidebar-width: 200px;

//@import "stepper";
@import "nav";
@import "home";
@import "footer";
@import "sidebar";
@import "notifications";
@import "icons";
@import "calendar";
@import "background";


// padding for fixed nav
body {
  //height of navbar
  //padding-top: 53px;
}

// form errors
ul.invalid-feedback {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

label.required:after {
  content: " *";
}

.utc-to-local {
  display: none;
}

.btn {
  cursor: pointer;
}

.breadcrumb {
  border-bottom: 1px solid $gray-200;
}

@include media-breakpoint-up(lg) {
  .admin-content {
    position: relative;
    left: $sidebar-width;
    //width: calc(100vw - $sidebar-width);
    // TODO figure out how to use variable inside calc()
    width: calc(100vw - 200px);
  }
}

.pointer {
  cursor: pointer;
}

.page-content {
  font-size: 1.25rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  max-width: 800px;
}

.page-content img {
  display: block;
  margin: 1rem auto;
  max-height: 50vh;
  max-width: 100%;
}

@include media-breakpoint-up(md) {
  .page-content img {
    padding-right: 1rem;
    padding-bottom: 1rem;
    max-height: 50vh;
    max-width: 50%;
    float: left;
  }
}

input[type=date] {
  min-height: $input-height-inner;
}

.cal-badge {
  text-align: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

.cal-emoji {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  border: none;
}
.cal-emoji .fc-time {
  display: none;
}

.transparent {
  opacity: 0.9;
}

.homepage-carousel {
  /* margin: 0 -15px; */
}

.homepage-carousel .carousel-item {
  // filter: brightness(85%);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.homepage-carousel .carousel-caption {
  bottom: calc(50% - 150px);
  background-color: rgba(0,0,0,.4);
  border-radius: 4px;
  box-shadow:0 0 10px 10px rgba(0,0,0,0.4);
}

.break-word {
  word-wrap: break-word;
}

#loginNav {
  vertical-align:center;
  font-size: 0.9rem;
}

.activity-card {
  padding: 0.75rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  width: 10rem;
}

.alert-subnav {
  margin-top: 98px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: -98px;
  z-index: 999;
}

.monospace {
    font-family: $font-family-monospace !important;
}
