.fc-event.badge {
  max-width: calc(100% - 1rem);
}

@include media-breakpoint-down (xs) {
  .camp-calendar .fc-view-container {
    margin-left: -10px;
    margin-right: -10px;
  }
  .fc-event.badge {
    font-size: 0.625rem;
    font-weight: 400;
  }
}

