.nav-item {
  font-size: 1rem;
  font-weight: 200;
}
.cart-count {
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar-bordered.navbar-light {
  border-bottom: 1px solid lighten(theme-color("secondary"), 25%);
}

@include media-breakpoint-up(md) {
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}
